{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="container">
    <div>
        {{ form_widget(form.question) }}
    </div>
    {#<div class="row">#}
        {#<div class="col-sm-8">#}
            {#<h4>Answers</h4>#}
        {#</div>#}
        {#<div class="col-sm-4">#}
            {#<h4>Correct</h4>#}
        {#</div>#}
    {#</div>#}
    <div class="row">
        <div class="col-sm-8">
            {#{{ form_widget(form.answer.answer) }}#}
        </div>
        <div class="col-sm-3">
            {#{{ form_widget(form.correctness) }}#}
        </div>
        <div class="col-sm-3">
            {#<label for="">answer</label>#}
            {#<input type="text" name="answer[answer]" value="">#}
            {#<label for="">correct</label>#}
            {#<input type="checkbox" name="answer[correctness]" value="">#}
        </div>
        {#<div class="col-sm-1">#}
            {#<button>+</button>#}
            {#<button>-</button>#}
        {#</div>#}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>

</div>
{{ form_end(form) }}