{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="container">
        <h2 align="center">{{ test.name }}</h2>
        <table>
            <tr>
                <td>
                    <h2>{{ testId }}</h2>
                    {#{{ set testId = '' }}#}
                    {% for question in questions %}
                        {#{% if question.test_id = testId %}#}
                        {{ question.test_id }}
                        {#{% endif %}#}
                    {% endfor %}
                </td>
                <td>
                    {% for answer in answers %}
                        {#{{ answer.answer }}#}
                    {% endfor %}
                </td>
                <td>
                    {% for  in  %}
                        
                    {% endfor %}
                    {{ form_widget(form) }}
                </td>
            </tr>

        </table>

        <button class="btn">{{ button_label|default('Save') }}</button>

    </div>

    <a href="{{ path('test_index') }}">back to list</a>

    <a href="{{ path('test_edit', {'id': test.id}) }}">edit</a>

    {{ include('test/_delete_form.html.twig') }}
{% endblock %}
