{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="container">
        <h2 align="center">{{ test.name }}</h2>
        <table>
            {% set thisQuestionId = '' %}
            {% for question in questions %}
                {% if question.test.id == id %}
                    <tr>
                        <td style="background-color: red">{{ question.question }}</td>
                        {% set thisQuestionId =  question.id   %}
                    </tr>
                    {% for answer in answers %}
                        {% if answer.questionId.test.id == id %}
                            {% if answer.questionId.id == thisQuestionId %}
                                <tr>
                                    <td>
                                        {{ answer.answer}}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {#{{ form_widget(form.question) }}#}
            <tr>
                <td>
                    1
                </td>
            </tr>



        </table>
        {{ form_widget(form.takenAnswer) }}

        <button class="btn">{{ button_label|default('Save') }}</button>

    </div>

    <a href="{{ path('test_index') }}">back to list</a>

    <a href="{{ path('test_edit', {'id': test.id}) }}">edit</a>

    {{ include('test/_delete_form.html.twig') }}
{% endblock %}
