
{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div style="text-align: right">
            <a href="/user/registration">register</a>
            <span> or </span>
            <a href="#">log in</a>
        </div>

        <h2 style="text-align: center">Users List</h2>
        <table class="table">
            <tr>
                <td>id</td>
                <td>name</td>
                <td>second name</td>
                <td>email</td>
                <td>phone</td>
                <td>actions</td>
            </tr>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        {{ user.secondName }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.phone }}
                    </td>
                    {#<td>#}
                        {#{{ user.role }}#}
                    {#</td>#}
                    <td>
                        <a href="/user/edit/{{ user.id }}"><i class="fas fa-edit"></i></a>
                        {#<a href="/delete/{{ user.id }}"><i class="fas fa-trash-alt"></i></a>#}

                        <a href="" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></a> {% set user_id = user.id %}
                        <a href="/overview/overview/{{ user.id }}"><i class="fas fa-address-card"></i></a>

                    </td>
                </tr>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="border: none">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <h5 class="modal-body" style="text-align: center">
                                Delete {{ user.name }} {{ user.secondName }} ?
                            </h5>
                            <div class="modal-footer" style="border: none">
                                {{ user_id }}
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="/delete/{{ user_id }}" type="button" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </table>
    </div>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>






{% endblock %}




