{% block head_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{{ form_start(reg) }}
{{ form_widget(reg) }}
{{ form_end(reg) }}

{% block head_js %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        // add-collection-widget.js
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') | list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>
{% endblock %}
{#<p>{{ reg.name }}</p>#}

{#{% if form is defined %}#}
    {#<table>#}
        {#<tr>#}
            {#<td>Name:</td>#}
            {#<td>{{ reg.name }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Second name:</td>#}
            {#<td>{{ reg.secondName }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Email:</td>#}
            {#<td>{{ reg.email }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Password:</td>#}
            {#<td>{{ reg.password }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Phone:</td>#}
            {#<td>{{ reg.phone }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Photo:</td>#}
            {#<td>{{ reg.photo }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Role:</td>#}
            {#<td>{{ reg.role }}</td>#}
        {#</tr>#}
    {#</table>#}

{#{% endif %}#}


{#{{ form_label(reg.emails) }}#}
{#{{ form_errors(reg.emails) }}#}

{#<ul>#}
    {#{% for emailField in reg.emails %}#}
        {#<li>#}
            {#{{ form_errors(emailField) }}#}
            {#{{ form_widget(emailField) }}#}
        {#</li>#}
    {#{% endfor %}#}
{#</ul>#}
